/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


h4 {
    text-decoration: underline;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 30px;
    background-color: #666;
    color: #eee;
}

.hidden-button {
    display: none;
}

/*  =====================================================================
    Create new Event Sheets
    ===================================================================== */

/* Default static background */
.custom-bg-color {
    background-color: #d9d9bf !important;
}

/* Dynamic background settings */
.dynamic-bg {
    background-color: black; /* Fallback for image loading */
}

#background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    filter: blur(15px);
    z-index: -1;
    display: none; /* Hidden unless enabled */
    box-shadow: inset 0px 0px 500px 300px rgba(0, 0, 0, 0.9);
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/*  =====================================================================
    Players sheets
    ===================================================================== */
.players-page {
    margin: 0 auto;
    width: 700px;
    font-family: Lucida Console;
    font-weight: normal;
    font-style: normal;
}

.mouse-image {
    width:10px;
    padding:0px;
    margin:0px;
}

/* Holds the upload div*/
.lobby-container {
    padding: 10px;
/*    max-width: 800px;*/
    text-align: center;

    justify-content: center;
    color: black;
    background-color: #f7f7f2;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}


.lobby-container-label {
    width: 100%;
    font-size: 24px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #33337f;
}

.lobby-header {
    font-size: 20px;
    color: #33337f;
    display: block;
}

.lobby-instruction {
    font-size: 12px;
    color: #33337f;
    margin: 0px;
    padding: 0px;
}

.row {
    display: inline;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 0px;
    padding: 0px;
}

.players-grid-table {
    justify-content: center;
    border: none;
    border-top: 2px solid #33337f;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 25px;
    font-size: 16px;
    color: #535352;
}

.players-grid-table th {
    border-bottom: 1px solid black;
}

.players-grid-table a {
    color: #535352;
    text-decoration: none;
}


.hover-row {
    background-color: #eaeab4;
    position: relative;

}

.header-col {
    width: 20%;
    text-align: left;
}

.footer-row {
    text-align: center;
    border-top: 1px solid black;
    color: #535352;
}

.player {
    text-align: left;
    padding-left: 15px;
}

.player-stat {
    text-align: center;
    width: 5%;
}


/*  =====================================================================
    Scoreboard sheets
    ===================================================================== */
.column-definition {
    border: 1px solid black;
    text-align: center;
    background: transparent;
    color: black;
    font-weight: bold;
}

.column-definition th, .column-definition td {
    border: 1px solid white;
    text-align: center;
    background: black;
    color:white;
}

.master-table {
    font-size: 16px;
    border-style: solid;
    border-width: 0px;
    border-color: #000000;

    position: center;
    max-width: none;
    width: 100%;
    margin: 0 auto;

}

.seasonDropDown {
    padding: 10px;
    justify-content: center;
    display:flex;
    max-width: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.season-header {
    padding: 10px;
    background: linear-gradient(to right, #e94fa2, #b3fff3);
    font-size: 20px;
    border-style: solid;
    font-weight: bold;
    border-width: 1px;
    border-color: #000000;
}

/* Label of Season at top, underneath the dropdown selection*/
.season-table {
    font-size: 16px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 100%;
    background-color: #f3f3f3;
}

/* Rows stretch the entire length of the table */
.rank-table {
    width: 100%;
    text-align: left;
    border: solid 5px;
    border-collapse: collapse;
    table-layout: fixed;
    color: black;
}

th, td {
    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden; /* Ensures content doesn't spill out */
    text-overflow: ellipsis; /* Adds "..." if text is too long */
    min-width: 50px;
}

.rank-header-row {
    border-bottom: solid 2px;
    font-weight: bold;
}

/* All logos and profile pictures are the same size */
.rank-table img {
    width: 50px;
}

.picture-cell {
    width: 50px;
    border: none;
}

.rank-name {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    width: 20%;
    border: 1px solid black;
    border-left: none;
}

/* Player name text */
.player-name {
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
    width: 20%;
    border: 1px solid black;
    border-left: none;
}

.player-row {
    background: white;
    border: 1px solid black;
}

/* Points Won Tied Lost W-L */
.stat-column {
    text-align: center;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

/* Tooltip container */
.stat-column {
    position: relative;
    /*cursor: pointer;*/ /* Show cursor effect */
}

/* Tooltip style */
.stat-column::after {
    content: attr(data-tooltip); /* Use custom attribute */
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out;
    z-index: 999;
}

/* Show tooltip on hover */
.stat-column:hover::after {
    opacity: 1;
}

/* Improve tooltip layout using flexbox */
.tooltip-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table inside tooltip */
.tooltip-table table {
    border-collapse: collapse;
}

.tooltip-table th, .tooltip-table td {
    border: 1px solid white;
    padding: 5px;
}



.rank-header-row .Grandmaster-header {
    background: #ffa500;
}

.Grandmaster {
    background: linear-gradient(to bottom, #ffa500, #ffc04c);
}

.rank-header-row .Master-header {
    background: #00008b;
}

.Master {
    background: linear-gradient(to bottom, #00008b, #3b3bbd);
}

.rank-header-row .Ruby-header {
    background: #9b111e;
}

.Ruby {
    background: linear-gradient(to bottom, #9b111e, #b14550);
}

.rank-header-row .Emerald-header {
    background: #42c56e;
}

.Emerald {
    background: linear-gradient(to bottom, #42c56e, #70d893);
}

.rank-header-row .Sapphire-header {
    background: #0f52ba;
}

.Sapphire {
    background: linear-gradient(to bottom, #0f52ba, #3f6eb8);
}

.rank-header-row .Topaz-header {
    background: #feb651;
}

.Topaz {
    background: linear-gradient(to bottom, #feb651, #ffc87c);
}

.rank-table .Grandmaster {
    background: linear-gradient(to bottom, #ffa500, #ffd68c);
}

.rank-table .Master {
    background: linear-gradient(to bottom, #3b3bbd, #6161fa);
}

.rank-table .Ruby {
    background: linear-gradient(to bottom, #b14550, #f08790);
}

.rank-table .Emerald {
    background: linear-gradient(to bottom, #70d893, #b1ffcb);
}

.rank-table .Sapphire {
    background-color: #3f6eb8;
}

.rank-table .Topaz {
    background-color: #ffc87c;
}

/*  =====================================================================
    Replay sheets
    ===================================================================== */
.upload-page {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Lucida Console;
    font-weight: normal;
    font-style: normal;
}

.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.center-label {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.player-one {
    flex: 1;
    text-align: right;
    white-space: nowrap;
}

.player-two {
    flex: 1;
    text-align: left;
    white-space: nowrap;
}

.vs {
    flex-shrink: 0;
    margin: 0 15px;
    font-weight: bold;
    width: 100px;
}


.match-results {
    margin: auto;
    font-size: 32px;
    text-align: center;
}

.button-row {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom:20px;
    font-size: 16px;
}

.cancel-button, .confirm-button {
    flex: 1 1 auto;
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
}

/* Holds the upload div*/
.upload-row {
    padding: 10px;
    margin:0px;

    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: #f7f7f2;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.upload-row .header-title {
    font-size: 20px;
    color: #33337f;
    display: block;
    border-bottom: solid;
    border-width: 2px;
    border-color: #33337f;
}

.upload-row span {
    font-size: 20px;
    color: #33337f;
}

.match-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    padding-bottom: 25px;
}

/*.match-separator {
    border-bottom: 1px solid black;
    padding: 10px;
}
*/

.truncate {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add "..." for overflow */
    max-width: 50px;
}


/* ResultStringPlayerNames | ConfirmMatchButton */
.match-result-header {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    border-color: #535352;
}

.match-categories-row {
    border: none;
    border-bottom: solid 2px;
}

/* Spy, Sniper, Venue, Result */
.Player-left-column td th,
.match-categories-left-column,
.replay-left-column {
    width: 15%;
    text-align: left;
}

/* Type */
.match-type-column {
    width: 8%;
    text-align: left;
}

/* Duration */
.Player-right-column,
.match-duration-column {
    width: 5%;
    text-align: right;
}

/* Date */
.match-date-column {
    width: 20%;
    text-align: right;
}

.match-categories-column-right,
.replay-right-column {
    text-align: right;
}

/* VenueImage | VenueText | SpyImage | SpyText | SniperImage | SniperText | ResultText */
.replay-row {
    
}


.match-venue-column,
.player-column {
    width: 15%; /* Each takes up equal space */
    vertical-align: middle;
    text-align: left;
}

.match-venue-column img {
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
    float: right;
}

.player-column img {
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
    float: right;
}

/* Result column should take up the remaining 1/7 of the space */
.replay-result-column {
    width: 14%;
    text-align: center;
}
